<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WallaPOOP</title>
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/main.css" rel="stylesheet"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img class="logo-caca-nav" src="/images/logo-caca.png" alt="">
            <a class="navbar-brand" href="/"><span class="brand-name">WallaPOOP!</span></a>
                <form action="/" method="get" class="d-flex">
                    <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div>
                    <div class="navbar-username">
                        {{#if user}}
                            Hi {{user.username}}
                        {{/if}}
                    </div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {{#if user}}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/user">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/user/add-product">Add Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        {{else}}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-signup" href="/signup">Signup</a>
                            </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
    </nav>
</header>

{{{body}}}


<footer class="pt-4 mt-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2 footer-img" src="/images/logo-caca.png" alt="" width="24" height="19">
            <small class="d-block mb-3 text-muted"><span class="footer-2021">&copy; 2021</span></small>
        </div>
        <div class="col-6 col-md footer-text">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md footer-text">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md footer-text">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>