<form action="/user/add-product" method="post">
    <input name="name" type="text">
    <textarea name="description"></textarea>
    <input name="price" type="text">
    <input name="image" type="file">
    <button type="submit">Add</button>
</form>