<div class="add-product">
    <form action="/user/add-product" method="post">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Name</span>
            <input name="name" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="addon-wrapping">
        </div>

        <div class="input-group form-floating">
            <textarea name="description" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Description</label>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">EUR</span>
            <!--        <span class="input-group-text">0.00</span>-->
            <input name="price" type="text" class="form-control" aria-label="Euro amount (with dot and two decimal places)">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Photo</label>
            <input type="file" class="form-control" id="inputGroupFile01">
        </div>

        <button type="button" class="input-group btn btn-primary">Add</button>
    </form>
</div>
