* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    width: calc(100% - 300px);
}

.section1 {
    background: url("../images/circles-img.jpg") center center no-repeat;
    background-size: cover;
}

.section1 h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-sm-12 {
    margin: 20px;
}

.logo-caca {
    width: 100px;
}

.logo-caca-nav {
    width: 80px;
}

footer {
    background-color: #f8f6f6;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

.add-product {
    background: url("../images/circles-img.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.input-group {
    width: 500px;
    margin: 30px;
}
